
<div class="jumbotron jumbotron-fluid">
	<div class="container">
	    <h1>Edit General Ledger</h1>
	</div>
</div>

 
<div class="container">
	<%= render 'form' %>
			<%= link_to 'Back', ledgers_path %>

</div> 
