
<div class="jumbotron jumbotron-fluid">
<div class="container">
    <h1>Edit General Ledger</h1>
</div>
</div>

 
<%= render 'form' %>
 <div class="container">
<%= link_to 'Back', ledgers_path %>
</div> 