<div class="container">
<h1>FUNDS</h1>

<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>

	<% @funds.each do |fund|%>
	<tr>
		<td><%= fund.name %></td>
		<td><%= fund.description %></td>
		<td><%= link_to 'Show', fund_path(fund) %></td>
		<td><%= link_to 'Create Ledger', new_ledger_path %></td>
	</tr>

	<% end %>



</table>
</div>