<div class="container">
<p>
	<strong>Name:</strong>
	<%= @fund.name %>
</p>

<p>
    <strong>Description:</strong>
    <%= @fund.description %>
</p>

 

<%= link_to 'Back', funds_path %>|
<%= link_to 'Edit', edit_fund_path(@fund) %> 
 
</div>

